extends layout

block content
  h1= title
  p Welcome to #{titulo}
  a(href="www.google.com") Google Site.
  p ---> #{mensaje}

  h2 Datos del docente

  p Nombre: #{nombre}
  p Apellido: #{apellido} #[br] Teléfono: #{telefono}
